alias ls 'ls --color'
alias lr 'ls -ltr'
alias ll 'ls -l'
alias l 'less'
alias sa 'source ~/.aliases'
alias sc 'source ~/.tcshrc'
alias rm 'rm -rf'
alias vi 'vim'
alias n 'nvim'
alias g 'nvim-qt'
alias .. 'cd ..'
alias ... 'cd ..;..'
alias .... '..;..;..'
alias ..... '..;..;..;..'
alias ...... '..;..;..;..;..'
alias ....... '..;..;..;..;..;..'
alias ........ '..;..;..;..;..;..;..'
